<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/NotFound.css">
</head>
<body>
    <div class="imageOfError">
        <img src="../images/Error-404-Page-Not-Found.png" alt="Image Of Not Found">
    </div>
</body>
</html>